@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Ubuntu+Mono');

* {
	
	margin: 0px;
	padding: 0px;
	
}

p, h1, h2, h3, h4, h5, h6 {

	font-family: 'Lato';

}

.centerer {

	display: flex;
	align-items: center;
	justify-content: center;
	height:100%;

}

@mixin allFontFamily($font) {

	p, h1, h2, h3, h4, h5, h6, a, li {

		font-family: $font;

	}

}

@mixin allFontColor($color) {

	p, h1, h2, h3, h4, h5, h6, a, li {

		color: $color;

	}

}

html {

	body {
	
		main {
		
		
		
		}
		
	}

}