@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');



* {
	
	margin: 0px;
	padding: 0px;
	
}

p, h1, h2, h3, h4, h5, h6 {

	font-family: 'Lato';

}

.centerer {

	display: flex;
	align-items: center;
	justify-content: center;
	height:100%;

}

html {

	body {
	
		main {
		
		
		
		}
		
	}

}